-i https://pypi.org/simple/
certifi==2020.12.5
chardet==4.0.0
cliff==2.16.0
cmd2==0.8.9
coreapi==2.3.3
coreschema==0.0.4
idna==2.10
itypes==1.2.0
jinja2==2.11.3
markupsafe==1.1.1
pbr==5.4.4
prettytable==0.7.2
pyparsing==2.4.7
pyperclip==1.8.2
pyyaml==5.4.1
requests==2.25.1
six==1.15.0
stevedore==3.3.0
uritemplate==3.0.1
urllib3==1.25.8
wcwidth==0.2.5 ; sys_platform != 'win32'
